body {                  
    background-color: #EAF6F6;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 10%;
}

h1{
    color: #66BFBF;
}
h3{
    color: #66BFBF;
}

.copyright{
    text-align:center;
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

